<section class="search-input">
    <input type="text" class="form-control" placeholder="Search by travel order's employee surname"
           @bind-value="@SearchTerm" @bind-value:event="oninput"
           @onkeyup="SearchChanged" />
</section>