<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogToConsole="true" internalLogLevel="Error">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets async="true">
		<target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true"
		        layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true:padding=-5:fixedLength=true} | ${callsite:includeNamespace=false:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:padding=-65} |${replace-newlines:replacement=\r:${message}}${replace-newlines:replacement=\r:${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}}" />
		<target name="file" xsi:type="File" fileName="nlog-all.log"
		        layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${level:uppercase=true:padding=-5:fixedLength=true} | ${callsite:includeNamespace=false:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true:padding=-65} |${replace-newlines:replacement=\r:${message}}${replace-newlines:replacement=\r:${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}}" />
		<target xsi:type="Null" name="blackhole" />
	</targets>
	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<!--<logger name="*" minlevel="Trace" writeTo="file" />-->
	</rules>
</nlog>